.features{
  margin-top: 200px; /* смещение блока относительно предыдущего */
}

.features__wrap{
  max-width: 710px; /* как в Figma */
  margin-left: auto; /* блок справа */
}

.features__title{
  font-family: "DRUZHOK";
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  color: #191818;
  margin-bottom: 80px;
}

.features__list{
  display: flex;
  flex-direction: column;
  gap: 32px; /* Auto Layout gap из Figma */
}

.features__item{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features__item p{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  line-height: 1.1;
  color: #191818;
  margin: 0;
}

.features__item span{
  display: block;
  width: 100%;
  height: 1px;
  background: #191818;
}
