/* typography.css */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body{
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--text);
  background: var(--bg);
}
@font-face {
  font-family: "Martina scriptC";
  src:
    url("/flowe2/assets/fonts/script/MartinascriptC.woff2") format("woff2"),
    url("/flowe2/assets/fonts/script/MartinascriptC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DRUZHOK";
  src:
    url("/flowe2/assets/fonts/script/DRUZHOK.woff2") format("woff2"),
    url("/flowe2/assets/fonts/script/DRUZHOK.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}







